US_county_1850.dbf
US_county_1850.prj
US_county_1850.shp
US_county_1850.shx
US_county_1860.dbf
US_county_1860.prj
US_county_1860.shp
US_county_1860.shx
US_county_1870.dbf
US_county_1870.prj
US_county_1870.shp
US_county_1870.shx
US_county_1880.dbf
US_county_1880.prj
US_county_1880.shp
US_county_1880.shx
state_1830.dbf
state_1830.prj
state_1830.shp
state_1830.shx
state_1840.dbf
state_1840.prj
state_1840.shp
state_1840.shx
state_1850.dbf
state_1850.prj
state_1850.shp
state_1850.shx
state_1860.dbf
state_1860.prj
state_1860.shp
state_1860.shx
state_1870.dbf
state_1870.prj
state_1870.shp
state_1870.shx
state_1880.dbf
state_1880.prj
state_1880.shp
state_1880.shx
state_1890.dbf
state_1890.prj
state_1890.shp
state_1890.shx
